body{
    position: relative;

}
*{
    padding: 0;
    margin: 0;

}

.plano_fundo{
    width: 100%;
    height: 100%;
    position: fixed;

}
.personagem{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 700px ;
    

}